/* img{
   
} */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .heading {
    position: absolute;
    top: 100px;
    left: 65%;
    font-size: 28px;
  }

.input-group{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
   top: 125px;
  left: 60%;
  
  

}  
/* .btn{
  background-color: black;
} */

body{
    background-image: url(bg.jpg) ;
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 700px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.wea{
  position: absolute;
  top: 400px;
  left: 75%;
  transform: translate(-50%, -50%);
}